<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codevarty.board.domain.user.mapper.UserMapper">
	<!-- 아이디로 사용자 정보 조회 -->
	<select id="getUserByUserId" resultType="com.codevarty.board.domain.user.dto.response.UserResponse">
		SELECT
			user_seq,
			user_id,
			user_name as username,
			password,
			email,
			user_tel,
			created_at
		FROM tuser
		where user_id = #{userId}
	</select>
	<!-- 이메일로 사용자 정보 조회 -->
	<select id="getUserByEmail" resultType="com.codevarty.board.domain.user.dto.response.UserResponse">
		SELECT
			user_seq,
			user_id,
			user_name as username,
			password,
			email,
			user_tel,
			created_at
		FROM tuser
		where email = #{email}
	</select>
	<!-- 일련번호로 사용자 정보 조회 -->
	<select id="getUserByUserSeq">
		SELECT
			user_seq,
			user_id,
			user_name,
			password,
			email,
			user_tel,
			created_at
		FROM tuser
		where user_seq = #{userSeq}
	</select>
	<!-- 사용자 등록 -->
	<insert id="saveUser">
		INSERT INTO tuser(user_id, user_name, password, email, user_tel)
		VALUES(#{userId}, #{username}, #{password}, #{email}, #{userTel})
	</insert>
	<!-- 사용자정보 변경 -->
	<update id="updateUserInfo">
		UPDATE tuser
		WHERE user_id = #{user_id}
	</update>
	<!-- 사용자 삭제 -->
	<delete id="deleteUser">
		DELETE FROM tuser
		WHERE user_seq = #{userSeq}
	</delete>
</mapper>